{% extends 'base.html.twig' %}

{% block title %} Отзывы {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('siteFeedback.css', 'css') }}">
{% endblock %}

{% block body %}
    {% include 'headers/header.html.twig' %}
    <div class="feedback">
        <h1>Отзывы</h1>
        <h2>Рейтинг: ⭐{{ averageScore }}⭐</h2>
        <div class="review">
        {% for siteFeedback in siteFeedbacks %}
        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>{{ siteFeedback.date.format('d M Y H:i') }}</p>
                </blockquote>
                <h3>{{ siteFeedback.reviewer.firstName }} {{ siteFeedback.reviewer.secondName }}</h3>
                <h4>{{ siteFeedback.comment }}</h4>
                <h3 class="score">{{ siteFeedback.score }}⭐</h3>
            </figcaption>
        </figure>
        {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
        <h2>Оставить отзыв</h2>
        <div class="fb-form">
            {{ form(form) }}
        </div>
        {% else %}
            <h5 class="blockedFeedback">Чтобы оставить отзыв необходимо <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_login') }}">авторизоваться</a></h5>
        {% endif %}
    </div>
{% endblock %}
