{% extends 'base.html.twig' %}

{% block title %} {{ film.name }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('cardDescription.css', 'css') }}"
{% endblock %}

{% block body %}
    {% include 'headers/adminHeader.html.twig' %}
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('uploads/films/' ~ film.image, 'images') }}" class="image img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <p class="card-text">{{ film.description }}</p>
                    <p class="card-text">Год выхода: {{ film.releaseDate.format('Y') }}</p>
                    <p class="card-text">Страна: {{ film.country }}</p>
                    <p class="card-text">Бюджет: {{ film.budget | number_format(0, ',', ' ') }}$</p>
                    <p class="card-text">Жанр:
                        {% for genre in film.genre %}
                            {{ genre.genre }}
                            {{ not loop.last ? ',' }}
                        {% endfor %}
                    </p>
                </div>
                <a href="{{ path('app_admin_updateFilm', {'id': film.id}) }}" id="read" class="button link-offset-2 link-underline link-underline-opacity-0">Редактировать</a>
            </div>
        </div>
    </div>
{% endblock %}