{% extends 'base.html.twig' %}

{% block title %} {{ serial.name }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('cardDescription.css', 'css') }}"
{% endblock %}

{% block body %}
    {% include 'headers/header.html.twig' %}
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('uploads/serials/' ~ serial.image, 'images') }}"
                     class="image img-fluid rounded-start" alt="...">
                {% if is_granted('ROLE_USER') %}
                    <form action="{{ path('app_serial_addFavoriteSerial', {'id': serial.id}) }}" method="post">
                        <input type="hidden" name="addFavoriteFilm">
                        <button type="submit" class="favourites glow-on-hover">Добавить в избранное</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">{{ serial.name }}</h4>
                    <p class="card-text">{{ serial.description }}</p>
                    <h5>Рейтинг сериала: {{ score | number_format(2) }}</h5>
                    <p class="card-text">Год выхода: {{ serial.releaseDate.format('Y') }}</p>
                    <p class="card-text">Страна: {{ serial.country }}</p>
                    <p class="card-text">Бюджет: {{ serial.budget | number_format(0, ',', ' ') }}$</p>
                    <p class="card-text">Жанр:
                        {% for genre in serial.genre %}
                            {{ genre.genre }}
                            {{ not loop.last ? ',' }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% if serial.feedback is not empty %}
                <h2>Рецензии зрителей</h2>
                <div class="reviews">
                    {% for feedback in serial.feedback %}
                        <figure class="snip1533">
                            <figcaption>
                                <blockquote>
                                    <p>{{ feedback.date | date('d M Y в H:i') }}</p>
                                </blockquote>
                                <h3>{{ feedback.reviewer.firstName }} {{ feedback.reviewer.secondName }}</h3>
                                <h4>{{ feedback.comment }}</h4>
                                <h3 class="score">{{ feedback.score }}/10⭐</h3>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
            {% else %}
                <h2>Рецензий еще нет. Будьте первым!</h2>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <h3>Написать рецензию</h3>
                <form action="{{ path('app_serial_addFeedback', {'id': serial.id}) }}" method="post">
                    <input type="hidden" name="feedback">
                    <div class="rating-area">
                        {% for i in 10..1 %}
                            <input type="radio" id="star-{{ i }}" name="rating" value="{{ i }}">
                            <label for="star-{{ i }}" title="Оценка «{{ i }}»"></label>
                        {% endfor %}
                        <textarea name="comment"></textarea>
                        <button type="submit" class="favourites glow-on-hover">Оставить рецензию</button>
                    </div>
                </form>
            {% else %}
                <h5 class="blockedFeedback">Чтобы оставить рецензию необходимо <a
                            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="{{ path('app_login') }}">авторизоваться</a></h5>
            {% endif %}
        </div>
    </div>
{% endblock %}