{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('header.css', 'css') }}">
    <link rel="stylesheet" href="{{ asset('body.css', 'css') }}">
{% endblock %}

{% block body %}
    <header>
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="{{ path('app_admin') }}"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="{{ asset('logo.png', 'images') }}" width="120px">
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="{{ path('app_admin') }}" class="nav-link text-white">
                                <img class="bi d-block mx-auto mb-1" width="24" height="24"
                                     src="{{ asset('icons/img.png', 'images') }}">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_getUsers') }}" class="nav-link text-white">
                                <img class="bi d-block mx-auto mb-1" width="24" height="24"
                                     src="{{ asset('icons/img_7.png', 'images') }}">
                                Список пользователей
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_addFilm') }}" class="nav-link text-white">
                                <img class="bi d-block mx-auto mb-1" width="24" height="24"
                                     src="{{ asset('icons/img_2.png', 'images') }}">
                                Фильмы
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_addSerial') }}" class="nav-link text-white">
                                <img class="bi d-block mx-auto mb-1" width="24" height="24"
                                     src="{{ asset('icons/img_3.png', 'images') }}">
                                Сериалы
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_feedback') }}" class="nav-link text-white">
                                <img class="bi d-block mx-auto mb-1" width="24" height="24"
                                     src="{{ asset('icons/img_4.png', 'images') }}">
                                Отзывы о сайте
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}" class="nav-link text-white">
                                <img class="bi d-block mx-auto mb-1" width="24" height="24"
                                     src="{{ asset('icons/img_6.png', 'images') }}">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}